.header {
    height: 60px;
    background-color: #231F20;
}

.header a {
    padding-top: 15px;
    padding-right: 10px;
    float: right;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header span {
    padding-top: 15px;
    padding-right: 10px;
    float: right;
    color: white;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 50px;
}