.myProfileCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color: #fefefe;
    box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.2);
    margin-bottom: 35px;
    color: #656565;
    border-radius: 4px;
}

.myProfilePhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 220px;
    height: 250px;
    margin: 25px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.myProfilePhoto:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.myProfilePhoto img {
    width: 220px;
    height: 250px;
    border: 2px solid #939598;
}

.uploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition: opacity .35s ease;
}

.uploadButton:hover {
    opacity: 1;
}

.myProfileInfo {
    width: 100%;
    margin: 15px;
    padding: 10px;
}

.fullName {
    padding: 0 5px;
    text-transform: capitalize;
    color: #0f0f0f;
}

.status {
    display: block;
    width: 100%;
    cursor: pointer;
    color: #0f0f0f;
}

.status span {
    padding: 5px;
}

