.myProfileCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color: #fefefe;
    box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.2);
    margin-bottom: 35px;
    color: #656565;
    border-radius: 4px;
}

.myProfilePhoto {
    margin: 25px;
}

.myProfilePhoto img {
    width: 250px;
    height: 250px;
    border: 5px solid #1c75bc;

}

.myProfileInfo {
    width: 100%;
    margin: 15px;
    padding: 10px;
}

.fullName {
    padding: 0 5px;
    text-transform: capitalize;
    color: #0f0f0f;
}

.status {
    display: block;
    width: 100%;
    cursor: pointer;
    color: #0f0f0f;
}

.status span {
    padding: 5px;
}

.aboutMe {
    padding: 5px;
}

.lookingForAJob {
    padding: 5px;
}

.description {
    padding: 5px;
}

.contacts {
    padding: 5px;
}

.editBtn {
    padding: 5px;
}