.usersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fefefe;
    border-radius: 4px;
}
.usersHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #e7e8ec;
}
.usersLiner {
    border-bottom: 1px solid #e7e8ec;
    height: 2px;
    width: 100%;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
}

span.active {
    font-weight: bold;
    font-size: 25px;
}

.paginationWrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.loading {
    height: 8px;
}