.friendsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 10px 16px 10px 16px;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #e7e8ec;
}
.friendsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 50px;
}


