@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 1080px;
}
.headerTitle span {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Kaushan Script', cursive;
}

.userName {
    margin-right: 15px;

}
.settingsLink {
    color: #0f0f0f;
}
.settingsLink:hover {
    text-decoration: none;
    color: #0f0f0f;
}

.header a {
    font-size: 13px;
    color:  #fefefe;
    text-decoration: none;
    cursor: pointer;
}

.header span {
    color: #fefefe;
}

.logo img {
    margin-left: 15px;
    width: 35px;
    height: 35px;
}