.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    position: relative;*/
    background-color: #4A76A8;
    margin-bottom: 25px;
    height: 50px;
    width: 100%;
}

.userName {
    margin-right: 15px;

}

.header a {
    font-size: 20px;
    color: #00CCFF;
    text-decoration: none;
    cursor: pointer;
}

.header span {
    color: #fefefe;
}

.logo img {
    margin-left: 15px;
    width: 35px;
    height: 35px;
}