.header {
    position: relative;
    height: 60px;
    background-color: #224B7A;
    margin-bottom: 50px;
}

.userName {
    position: absolute;
    top: 10px;
    right: 15px;
}

.header a {
    font-size: 20px;
    color: #00CCFF;
    text-decoration: none;
    cursor: pointer;
}

.header span {
    font-size: 15px;
    color: #fefefe;
}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 50px;
}