.card {
    background: linear-gradient(to bottom, rgba(39, 170, 225, .8),
    rgba(28, 117, 188, .2)), url("https://cdn.comsol.com/product-new/mids-larger-less-subtle.svg") no-repeat;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    border-radius: 4px;
}

.card ul {
    padding-left: 10px;
    padding-top: 10px;
}

ul.main_nav li {
    list-style: none;
    padding: 5px;

}

ul.main_nav li:hover {
    cursor: pointer;
    background-color: #069df9;
    transition: left 1s ease-out .5s;
}

.main_nav a {
    color: white;
    text-decoration: none;
}

ul.main_nav li a {
    text-decoration: none;
}

a.active {
    width: 100%;
    color: #224B7A;
}





