.friendsBlock {
    background: #ffffff;
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.blockHeader {
    height: 32px;
    margin: 15px 0 0 10px;
    padding: 0 5px;
    overflow: hidden;
    cursor: pointer;
}

.headerLabel {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0f0f0f;
    font-size: 12.5px;
}

.friendsCount {
    display: inline-block;
    color: #939393;
    font-size: 12.5px;
    padding: 0 6px;
    cursor: pointer;
}

.blockBody {
    display: block;
    padding: 6px 10px 8px;
    margin: 0 15px 15px;
}
.friendsRow {
    width: 210px;
    overflow: hidden;
}

.friendsOnline {
    padding: 5px;
    text-align: center;
}

ul.friendsOnline li {
    display: inline-block;
    padding: 10px;
}

.friendsOnline p {
    color: white;
    font-size: 14px;
    text-align: center;
}

ul.friendsOnline li a{
    text-decoration: none;
}

.listInline {
    list-style: none;
}

.photoFriend {
    border-radius: 50%;
    height: 50px;
}

