.messageData {
    margin-bottom: 15px;
}
.messageData__time {
    color: #a8aab1;
    padding-left: 6px;
}
.message {
    padding: 6px 12px 7px;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
}
.otherMessage {
    width: auto;
    max-width: 55%;
    word-wrap: break-word;
    color: black;
    background: #DCE1E6;
    float: left;
    border-bottom-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    border-top-right-radius: 1.3em;
}
.myMessage {
    color: #fefefe;
    background: #4A76A8;
    width: auto;
    max-width: 55%;
    word-wrap: break-word;
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
}
.otherMessage:after {

}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}
.floatRight {
    float: right;
}
