.mainFooter {
    height: 80px;
    background-color: #224B7A;
    margin-top: 25px;
    color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}