.create_post .form_group img.profile_photo_md {
    margin-right: 10px;
}

.create_post {
    width: 100%;
    min-height: 90px;
    padding: 20px;
    margin-bottom: 20px;
}

.create_post .form_group {
    margin-bottom: 0;
    display: inline-list-item;
}

.form_control {
    background: #fff;
    border: 1px solid #f1f2f2;
    box-shadow: none;
    border-radius: 4px;
    color: #939598;
    width: 100% !important;
}

textarea.form_control {
    height: 50px;
    padding: 10px;
}

.create_post .form_group .form_control {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.btn {

    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    float: right;
}

