.formContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchInput {
    margin: 0 10px;
}
.searchInput input {
    border: none;
    padding: 0 0 0 35px;
    background: url("../../assets/images/searching-magnifying-glass.png") no-repeat left;
}
.searchSelector {
    margin-right: 10px;
    width: 135px;
}
.searchSelector select {
    border: none;
}