.wrapper {
    margin-top: 8px;
    padding: 0 0 45px;
    width: 100%;
    height: auto;
}

.dialogsHeader {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 16px 10px 16px;
    overflow: hidden;
    box-sizing: border-box;
}

.dialogs_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

.dialogs_avatar__img {
    border-radius: 50%;
}

.dialogsHeader__title {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    text-overflow: ellipsis;
}

.dialogsLiner {
    box-shadow: 0 1px 0 0 #e7e8ec;
    height: 2px;
}

.pageDialogs {
    padding: 0 20px 0 20px;
    overflow: visible;
    box-sizing: border-box;
    list-style: none;
    display: block;
}
