.dialogsBlock {
    background-color: #ffffff;
    border-radius: 4px;
    min-height: 100vh;
}

.dialogsHeader {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 16px 10px 16px;
    overflow: hidden;
    box-sizing: border-box;
}

.dialogs_avatar {
    height: 50px;
    width: 50px;
    margin-right: 12px;
    overflow: hidden;
}

.dialogs_avatar__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialogsHeader__title {
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    text-overflow: ellipsis;
}

.dialogsLiner {
    box-shadow: 0 1px 0 0 #e7e8ec;
    height: 2px;
}

.pageDialogs {
    padding: 0 20px 0 20px;
    overflow: visible;
    box-sizing: border-box;
    list-style: none;
    display: block;
    min-height: 100vh;
}
