.enterMessage {
    padding:13px 0px;
}

.enterMessage .actionBoxInput {
    border:none;
    padding:10px 12px;
    background:#d3d3d3;
    width:365px;
    border-radius:2px;
    height: 50px;
}

.enterMessage .send {
    padding:10px 15px;
    background:  #4b99cf;
    border-radius:2px;
    float:right;
    color: white;
}
